 <% @movies.each do |movie| %>
        <tr>
          <td>
          <%= attachment_image_tag movie, :image, size: "100x100", format: 'jpeg' %>
          </td>
          <td>
          <%= movie.movie_name %>
          </td>
          <td>
          </td>
          <td>
          <%= link_to('映画詳細', admin_movie_path(movie.id)) %>
           <%= link_to('削除', admin_movie_path(movie.id),class: 'class', method: :delete) %>
          <%= link_to('映画編集', edit_admin_movie_path(movie.id)) %>

          </td>
        </tr>
        <% end %>