<td>


<% @movie_comments.each do |movie_comment| %>
  <div class="pt-2 px-2" style="background-color: #fffffe; border: 2px solid #272343; border-radius: 2px;">
  映画名:<%= movie_comment.movie.movie_name %>
  <%# rateを表示 %>
    <div id="review-rating_<%= movie_comment.id %>" data-score="<%= movie_comment.rate %>">評価：</div>
    <div class="text-left">
      <p>投稿者：<%= link_to movie_comment.customer.last_name,  public_customer_path(movie_comment.customer) %>　<%= link_to movie_comment.customer.first_name,  public_customer_path(movie_comment.customer) %> さん</p>
      <p><%= movie_comment.comment %></p>
      </P>
    </div>
      <p id="notice"><%= notice %></p>
      <div class="text-right">
        <p>
        投稿日：<%= movie_comment.created_at.strftime('%Y/%m/%d') %> |
         <% if movie_comment.favorited_by?(session[:current_customer]) %>
            <%= link_to public_movie_movie_comment_favorite_path(id: @movie.id, movie_comment_id: movie_comment.id), method: :DELETE  do %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= movie_comment.favorites.count %>like
            <% end %>
              <% else %>
                <%= link_to public_movie_movie_comment_favorites_path(movie_comment_id: movie_comment.id) , method: :POST do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <%= movie_comment.favorites.count %>like
                <% end %>

          <%= link_to public_movie_movie_comment_path(movie_comment.movie, movie_comment), method: :delete, class: "btn btn-sm btn-danger" do %>
          コメント削除 <i class="fas fa-trash"></i>
          <% end %>

            </p>
            <% end %>


        </div>
    </div>

       <% end %>