<%= form_with(model: [@movie, @movie_comment], url: public_movie_movie_comments_path, local: true) do |f| %>
  <%#= render 'layouts/error_messages', object: f.object %>
  <%= f.text_area :comment, rows:'5', placeholder: "映画についてのコメント", class: "form-control form-control-sm" %>
    <div id="rating-form">
      <label>評価：</label>
      <%# scoreNameの値をhidden_fieldでカラムに送っている %>
      <%= f.hidden_field :rate, :value => '0' %>
    </div>
      <%= f.submit "投稿する" %>
    <script>
      $(function(){
        $('#rating-form').raty({
          starOn: '<%= asset_path('star-on.png') %>',
          starOff: '<%= asset_path('star-off.png') %>',
          scoreName: 'movie_comment[rate]'
        });
      });
    </script>
      <% end %>